$lineColor: #30303012;
$background: rgb(204, 204, 204);
$background-details-client: rgb(249, 249, 249);
$blue: rgb(0, 0, 255);
$dark-blue: rgb(0, 86, 179);
$gray: rgb(155, 155, 155);
$light-gray: rgb(182, 182, 182);
$dark-gray: rgb(77, 77, 77);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$add-button-size: 60px;

$form-font-size: 18px;
$font-size-table: 16px