@import '../../styles/global.scss';
@import '../../styles/components/table';
@import '../../styles/components/title';
@import '../../styles/layout/circular-botton';
@import '../confirmation/confirmation.scss';
@import '../../styles/components/button-group';
@import '../../styles/variable';

iframe{
    z-index: 5;
    border:none;
}



#sort-icon{
    font-size: $font-size-table;
}

.selectable {
    color: $blue;
    cursor:pointer;
    text-decoration: underline;
}

.container{
    position: fixed;
    display: flex;
    z-index: 1;
    align-items: center;
    height: 8%;
    width: 100%;
    top: 0;
    background-color: $white;
    padding: 10px;
}

table {
    margin-top: 10vh;
    width: 100%;
}

#search-bar{
    padding: 10px 20px;
    font-size: $font-size-table;
    border-radius: 25px;
    border: 2px solid $light-gray;
    width: 35%;
    margin-left: auto;
    margin-right: 10%;
}

.client-details {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: $background-details-client;
    border: 1px solid $light-gray;
    white-space: normal; 
    word-break: break-all;
    
    .left {
        width: 95%;
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 35px;
        
        .selectable{
            text-align: right;
        }
    }
}

.observacao{
    margin-left: 10px;
    display: block;
}

.button-group {
    display: flex;
    gap: 5px;
    margin-top: 5px;
    width: 30%;
    height: 30px;

    button, .cancel {
        padding: 8px; 
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    button {
        margin: 10px;
        padding: 5px 10px;
        border: none;
        cursor: pointer;

        &:hover{
            opacity: 0.8;
        }
    }
}

.contact-observacao {
    width: 300px;  
    height: 40px; 
    margin-left: 10px;

}
